.header-last-message-date {
  font-weight: bold;
}

.message-user-name {
  margin-right: 8px;
}

.input-wrapper {
  display: flex;
  align-items: center;
}

.message-input {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.message-input-text {
  flex-grow: 1;
}
